@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: linear-gradient(#93c5fd, #cffafe, #c1c2ad);
  }

  .sb-container {
    width: 768px;
  }
  .sb-buffer {
    padding: 15px 0px;
  }
}
